.main_container{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 90px;
    box-sizing: border-box;
    justify-content: center;
}
.main_title{
    font-family: "Lato", sans-serif;
    font-weight: 800;
    color: #4D4A4A;
    font-size: 64px;
    margin-bottom: 7px;
}
.main_description{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #4D4A4A;
    margin-bottom: 60px;
}
.main_txtAndButton-container{
    margin-right: 52px;
}
.main_button{
    width: 238px;
    height: 58px;
    background: linear-gradient(91.65deg, rgba(173, 71, 38, 0.96) 58.02%, rgba(173, 71, 38, 0) 282.35%);
    border-radius: 10px;
    border: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
}