.header-container{
    display: flex;
    justify-content: center;
    z-index: 100;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 50px;
    box-sizing: border-box;
}
.logo{
    width: 90px;
    height: 90px;
}
