.footer_container{
    padding: 90px 15px 15px 15px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}
.footer_socialLinks:not(:last-child){
    margin-right: 20px;
}